.todo-form-component {
  width: 90%;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid blue;
}
/* 할 일 내용, 시간 등 세부사항 */
.todo-info {
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 11%;
  padding-left: 23%;
  padding-top: 4%;
  height: 83%;
  border: blanchedalmond solid 5px;
  font-weight: bold;
}

.todo-info--bg-image {
  background-image: url("/src/assets/form-background-image/roll-out.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center top 10%;
  width: 110%;
  position: relative;
  right: 5%;
}

li label,input {
  display: block;
}

.todo-info > li label {
  font-size: 20px;
}

.todo-info > li input {
  width: 70%;
  height: 1.5em;
  border: none;
  border-bottom: solid 2px var(--black);
  background-color: var(--blue-50);
  margin-top: 0.1em;
  font-size: 18px;
}

/* 날짜 설정 */
.todo-date {
  border-bottom: solid 2px var(--black);
  border: none;
}

.todo-date span {
  font-size: 20px;
  border-bottom: solid 2px var(--black);
}

.button--pocket-calendar {
  font-size: 24px;
  padding-left: 5px;
}

.change-date-button {
  color: var(--red-300);
}

.check-date-button {
  color: var(--teal-600);
}

/* 시간 설정 */
.todo-time {
  width: 162px;
  border: 5px solid salmon;
}

.time-wrap {
  border: 1px solid yellow;
}

.time-hms {
  display: inline-block;
  width: 2em;
  padding-left: 0.5em;
}

.create-edit-buttons-wrap {
  height: 15%;
  border: 5px solid red;
  justify-content: space-around;
  align-items: center;
}

/* 입력 값이 잘 못 되었을 때, 안내 모달 */
.check-modal {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.check-modal__text {
  border: 5px solid var(--dark-blue);
  background-color: var(--white);
  border-radius: 5px;
  width: 11em;
  height: 6em;
  font-size: 18px;
  text-align: center;
  padding-top: 1.2em;
}

.check-modal-text button {
  background-color: var(--red-300);
  color: var(--white);
  width: 4em;
  height: 1.5em;
  font-size: 16px;
  margin-top: 0.5em;
  border-radius: 0.5em;
}

@media screen and (min-width: 400px) and (min-height: 700px) {
  .todo-info {
    padding-bottom: 10%;
    height: 80%;
  }
  
  .todo-info > li label {
    font-size: 24px;
  }

  .todo-info > li input {
    width: 70%;
    font-size: 20px;
  }

  .todo-date span {
    font-size: 24px;
  }

  .todo-time {
    width: 220px;
  }

  .check-modal-text {
    font-size: 24px;
  }

  .check-modal-text button {
    font-size: 20px;
  }
} 

@media screen and (min-width: 600px) and (min-height: 850px) {
  
  .todo-info {
    padding-bottom: 10%;
    height: 82%;
  }

  .todo-info > li label {
    font-size: 32px;
  }

  .todo-info > li input {
    font-size: 24px;
  }

  .todo-date span {
    font-size: 32px;
  }

  .button--pocket-calendar {
    font-size: 32px;
  }

  .check-modal-text {
    font-size: 32px;
  }

  .check-modal-text button {
    font-size: 24px;
  }
}