/* Todo-Form */
.todo-form-wrapper {
  width: 90%;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid blue;
}

.todo-info--bg-image {
  background-image: url("/src/assets/form-background-image/roll-out.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center top 10%;
  width: 110%;
  position: relative;
  right: 5%;
}

.todo-info {
  flex-direction: column;
  justify-content: space-around;
  /* padding-bottom: 9%; */
  padding-bottom: 11%;
  padding-left: 23%;
  padding-top: 4%;
  /* height: 80%; */
  height: 83%;
  border: blanchedalmond solid 5px;
  font-weight: bold;
}


.todo-info label, input {
  display: block;
}

.todo-info > li label {
  font-size: 20px;
}

.todo-info > li input {
  width: 70%;
  height: 1.5em;
  border: none;
  border-bottom: solid 2px var(--black);
  background-color: var(--blue-50);
  margin-top: 0.1em;
  font-size: 18px;
}

.todo-date {
  border-bottom: solid 2px var(--black);
}

.todo-date  {
  border: none;
}

.todo-date span {
  font-size: 20px;
  border-bottom: solid 2px var(--black);
}

.todo-date button {
  font-size: 24px;
  padding-left: 5px;
}

.change-date-button {
  color: var(--red-500);
}

.check-date-button {
  color: var(--teal-600);
}

.todo-time {
  width: 10rem;
  border: 5px solid salmon;
  justify-content: space-between;
}

.time-wrapper {
  flex-direction: column;
}

.todo-time .time-hms {
  display: inline-block;
}

.todo-time label {
  display: inline-block;
}

.todo-time .time-hms {
  width: 2em;
  padding-left: 0;
}

/* li.todo-time span:nth-child(3) {
  justify-content: space-between;
} */

.buttons-wrapper {
  height: 15%;
  border: 5px solid red;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (min-width: 400px) and (min-height: 700px) {
  .todo-info {
    padding-bottom: 10%;
    height: 80%;
  }
  
  .todo-info > li label {
    font-size: 24px;
  }

  .todo-info > li input {
    width: 70%;
    font-size: 20px;
  }

  .todo-date span {
    font-size: 24px;
  }

  ul > div > div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    bottom: 5px;
  }
} 

@media screen and (min-width: 600px) and (min-height: 850px) {
  
  .todo-info {
    padding-bottom: 10%;
    height: 82%;
  }

  .todo-info > li label {
    font-size: 32px;
  }

  .todo-info > li input {
    font-size: 24px;
  }

  .todo-time {
    width: 12rem;
  }

  .todo-date span {
    font-size: 32px;
  }

  .todo-date button {
    font-size: 32px;
  }

  div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    bottom: 10px;
  }
}