.todolist-component {
}

.todo-list {
  width: 100%;
  background-color: #536dfe;
  margin: 0 auto;
}

.todo-list .todo-item {
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  /* temporary */
  background-color: #ffffff;
  height: 30vh;
  border-top: #0043ca 20px solid;
  padding-bottom: 5%;
  border-radius: 10px 10px 10px 10px;
}
.todolist .swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 5px;
}

.edit-delete-modal {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  background-color: orange;
  left: 0;
  z-index:100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header-Buttons-Size */
.todolist-component .edit-delete-modal-button
.delete-button,
.edit-button,
.cancle-button {
  width: 5vw;
}

/* ul-width,height / li-width,height */
.todo-list-wrapper {
  flex-direction: column; 
  align-items: center;
}


.delete-button {
  color: red;
  width: 10vw;
}

/* Start-Button-Icon-Size */
.todo-list .start-button > i {
    font-size: 1.5rem;
}

/* Edit-Delete-Button-Icon-Position&Size */
.todo-list .edit-delete-modal-button-wrapper {
  /* 임시 */
  position: absolute;
  right: 4vw;
  top: 7vw;
  width: 5%;
}

.todo-item-none-modal {
  height: 200px;
  background-color: #ffffff;
  border-top: #0043ca 20px solid;
  padding-bottom: 13px;
  border-radius: 10px 10px 10px 10px;
}

/* @media screen and (max-width: 640px) {
    .todolist-component > .header i {
        font-size: 1.6rem;
    }
    .todolist-component .edit-delete-button,
    .delete-button,
    .edit-button,
    .cancle-button {
      width: 5vw;
    }
    .todolist-component .today {
        font-size: 0.8rem;
    }
} */
