/* 할 일 목록 */
.todo-list {
  width: 100%;
  background-color: var(--light-blue);
  margin: 0 auto;
}

/* 할 일 */
.todo-item-wrap {
  width: 100%;
  justify-content: space-between;
  font-size: var(--font-xx-sm);
  background-color: var(--white);
  height: 30vh;
  border-top: var(--dark-blue) 14px solid;
  border-radius: 10px;
  text-align: center;
}

.todo-item {
  width: 82%;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--font-xx-sm);
  padding: 3vh 0 5vh 10%;
  padding-left: 12%;
}

.todo-item div:nth-child(1), .todo-item div:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

/* 할 일 시작 버튼 */
.time-start-button-wrap {
  align-items: center;
}

.time {
  flex-basis: 70%;
}

.start-button-wrap {
  flex-basis: 30%;
}

.start-button {
  font-size: var(--font-xx-sm);
  width: 2.5em;
  height: 1.7em;
  border: 3px solid var(--dark-blue);
  border-radius: 5px;
  background-color: var(--light-grey);
}

/* 할 일 삭제 수정 메뉴 버튼 */
.edit-delete-modal-button-wrap {
  width: 12%;
  position: relative;
  padding-top: 3.1vh;
  right: 15px;
}

.edit-delete-modal-button {
  width: 100%;
  height: 15%;
  font-size: var(--font-x-sm);
  background-color: var(--white);
}

/* 할 일 삭제 수정 버튼 */
.edit-delete-buttons-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:100;
  background: rgba(0, 0, 0, 0.2);
  /* org-rgba(0, 0, 0, 0.4) */
}

.edit-delete-buttons-modal ul {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
  top: 30%;
  position: relative;
}

.button--modal {
  width: 7em;
  height: 2.5em;
  font-size: var(--font-sm);
  font-weight: 600;
  border: 5px solid;
  border-radius: 12px;
  background-color: var(--white);
  text-align: center;
}

.delete-button {
  color: var(--red);
}

/* 로딩화면과 해당 날짜에 할 일이 없을 때 */
.none-todo-item-modal {
  width: 100%;
  height: 30vh;
  border: var(--dark-blue) 5px solid;
  border-radius: 10px;
}

.none-todo-item-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/assets/nothing-to-do/nothing-to-do-460X307.jpg");
}

.todo-loading {
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.todo-loading img {
  height: 70%;
}

@media screen and (min-width: 500px) {
  .none-todo-item-image {
    background-position: 50% 30%;
    background-image: url("/src/assets/nothing-to-do/nothing-to-do-690x521.jpg");
  }
}

@media screen and (min-width: 400px) and (min-height: 700px) {
  .todo-item-wrap {
    border-top-width: 20px;
  }

  .todo-item {
    font-size: var(--font-md);
  }

  .start-button {
    font-size: var(--font-md);
  }
  
  .edit-delete-modal-button-wrap {
    padding-top: 4vh;
  }

  .button--modal {
    font-size: var(--font-md);
  }
  
}

@media screen and (min-width: 600px) and (min-height: 850px) {
  .todo-item {
    font-size: var(--font-lg);
    padding-left: 16%;
  }

  .todo-item div:nth-child(1), .todo-item div:nth-child(2) {
    width: 86%;
  }

  .start-button {
    font-size: var(--font-lg);
  }

  .edit-delete-modal-button-wrap {
    padding-top: 3.4vh;
  }

  .edit-delete-modal-button {
    font-size: var(--font-sm);
  }

  .button--modal {
    font-size: var(--font-lg);
  }
}

/* 로딩화면 애니메이션 */
.rotate {
  animation: rotation 3s infinite steps(10, start);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
