.todo-list {
  width: 100%;
  background-color: var(--light-blue);
  margin: 0 auto;
}

.item-modal-wrapper {
  width: 100%;
  justify-content: space-between;
  font-size: 18px;
  background-color: var(--white);
  height: 30vh;
  border-top: var(--dark-blue) 20px solid;
  border-radius: 10px;
}

/* Todo-Item*/
.todo-list .todo-item {
  width: 82%;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  padding: 15px 0 25px 0;
  padding-left: 10%;
}

.todo-item .time-start-button-wrapper {
  justify-content: space-evenly;
  align-items: center;
}

.start-button {
  font-size: 18px;
  width: 2.5em;
  height: 1.6em;
  border: 3px solid var(--dark-blue);
  border-radius: 5px;
  background-color: var(--light-grey);
}

.todo-list .title-modal-wrapper {
  flex-direction: row;
  justify-content: center;
}

/* Edit-Delete-Button-Icon-Position&Size */
.todo-list .edit-delete-modal-button-wrapper {
  width: 12%;
  position: relative;
  padding-top: 15px;
  right: 15px;
}

.edit-delete-modal-button {
  width: 100%;
  height: 15%;
  font-size: 18px;
}

/* Edit-Delete-Button */
.edit-delete-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:100;
  background: rgba(0, 0, 0, 0.4);
}

.edit-delete-modal ul {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
  top: 30%;
  position: relative;
  border: solid red 5px;
}

.button--modal {
  width: 7em;
  height: 2.5em;
  font-size: 20px;
  font-weight: 600;
  border: 5px solid;
  border-radius: 12px;
  background-color: var(--light-grey);
}

.delete-button {
  color: var(--red);
}

.todo-item-none-modal {
  width: 100%;
  height: 30vh;
  background-color: var(--white);
  border: var(--dark-blue) 5px solid;
  border-radius: 10px;
}

.todo-item-none-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/assets/nothing-to-do/nothing-to-do-460X307.jpg");
}

.todo-loading {
  justify-content: center;
  align-items: center;
}

.todo-loading img {
  height: 70%;
}

@media screen and (min-width: 500px) {
  .todo-item-none-image {
    background-position: 50% 30%;
    background-image: url("/src/assets/nothing-to-do/nothing-to-do-690x521.jpg");
  }

}

@media screen and (min-width: 400px) and (min-height: 700px) {
  .todo-list .todo-item {
    font-size: 24px;
    padding: 30px 0;
    padding-left: 10%;
  }

  .todo-list .edit-delete-modal-button-wrapper {
    padding-top: 30px;
  }

  .start-button {
    font-size: 24px;
  }

  .button--modal {
    font-size: 24px;
  }
  
}

@media screen and (min-width: 600px) and (min-height: 850px) {
  .todo-list .todo-item {
    font-size: 32px;
    padding: 35px 0;
    padding-left: 10%;
  }

  .todo-list .edit-delete-modal-button-wrapper {
    padding-top: 35px;
  }

  .start-button {
    font-size: 32px;
  }

  /* ...? */
  /* .todo-list .edit-delete-modal-button-wrapper {
    font-size: 24px;
  } */
  /* 위 대체 */
  .todo-list .edit-delete-modal-button {
    font-size: 24px;
  }

  .button--modal {
    font-size: 32px;
  }
}

/* animation */
.rotate {
  animation: rotation 3s infinite steps(10, start);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
