.image-egg img {
  height: 100%;
}

.image-egg {
  border: olivedrab 5px solid;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.image-background {
  background-image: url("/src/assets/animation/chicken-cute.svg");
  background-repeat: repeat-x;
  background-position: 30% 50%;
  background-size: contain;
}

.sad-background-image {
  background-image: url("/src/assets/animation/chicken-dark.svg");
}

.slight-shaking {
  animation: slight-shake 3s infinite;
  
}

@keyframes slight-shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, -1px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 1px, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.medium-shaking {
  animation: medium-shake 2s infinite;
  
}

@keyframes medium-shake {
  10%, 90% {
    transform: translate3d(-4px, 5px, 0);
  }
  
  20%, 80% {
    transform: translate3d(4px, -5px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 5px, 0);
  }

  40%, 60% {
    transform: translate3d(4px, -5px, 0);
  }
}

  .strong-shaking {
  animation: strong-shake 1s infinite;
  
}

@keyframes strong-shake {
  10%, 90% {
    transform: translate3d(-5px, 5px, 0);
  }
  
  20%, 80% {
    transform: translate3d(5px, -5px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-5px, 5px, 0);
  }

  40%, 60% {
    transform: translate3d(5px, -5px, 0);
  }
}

.stronger-shaking {
  animation: stronger-shake 0.5s infinite;
  
}

@keyframes stronger-shake {
  10%, 90% {
    transform: translate3d(-10px, 12px, 0);
  }
  
  20%, 80% {
    transform: translate3d(10px, -11px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-10px, 11px, 0);
  }

  40%, 60% {
    transform: translate3d(10px, -12px, 0);
  }
}

.translate-y {
    animation: translate-y 2s infinite linear;
  }

@keyframes translate-y {
  0%, 100% {
    transform: translate(0,0px);
  }
  25% {
    transform: translate(0,-5px);
  }
  50% { 
    transform: translate(0,5px);
  }
  75% {
    transform: translate(0,-5px);
  }
}  