.todo-timer-component {
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.time {
  height: 20%;
  font-size: 20vw;
  color: var(--white);
  width: 100%;  
  justify-content: center;
  align-items: center;
}

.todo-timer-animation-wrapper {
  height: 60%;
  border: chartreuse 5px solid;
}

.todo-timer-buttons-wrapper {
  height: 12%;
  border: 5px solid yellow;
}

.todo-timer-buttons {
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 5px solid red;
  align-items: center;
}

.button--timer {
  width: 5em;
  height: 2.5em;
  color: var(--white);
  border-radius: 12px;
  border: 5px solid var(--white);
  font-size: 20px;
}

.restart-exit-button {
  width: 100%;
  justify-content: space-evenly;
}

.pause-button {
  background-color: var(--red);
}

.restart-button {
  background-color: var(--green);
}

.off-button {
  background-color: var(--black);
}

/* animation */
.mode-fade-enter-active, .mode-fade-leave-active {
  transition: opacity 0.4s ease;
}

.mode-fade-enter-from, .mode-fade-leave-to {
  opacity: 0;
}

@media screen and (min-width: 400px) and (min-height: 700px) {
  .button--timer {
    font-size: 24px;
  }

  .button--timer {
    width: 7em;
  }
} 

@media screen and (min-width: 600px) and (min-height: 850px) {
  .button--timer {
    font-size: 32px;
  }
}
