div.pocket-calendar-wrapper {
}
div.pocket-calendar-wrapper > div.vc-container {
  border: 5px solid var(--dark-blue);
}

div.pocket-calendar-wrapper > div.change-button-wrapper {
  position: relative;
  top: -37px;
  left: 213px; 
  z-index:400; 
  width: 2rem;
  border: steelblue 2px solid;
}