li.todo-date div.vc-container {
  border: 5px solid orange;
}

.todo-date div.pocket-calendar-wrapper {
  position: absolute;
  left: 6vw;
  top: 16%;
}

@media screen and (min-width: 350px) {
  .todo-date div.pocket-calendar-wrapper {
    left: 12vw;
  }
}

@media screen and (min-width: 400px) {
  .todo-date div.pocket-calendar-wrapper {
    left: 18%;
    top: 16%;
  }
}

@media screen and (min-width: 500px) {
  li.todo-date div.vc-container {
    min-width: 320px;
    min-height: 306px;
  }
}
/* size */

/* @media screen and (max-width: 500px) {
  section.calendar-wrapper div.vc-header.align-center {
    padding-top: 5px;
  }
  
  section.calendar-wrapper div.vc-arrows-container.title-center {
    padding-top: 5px;
  }  
} */