.calendar-page {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-content: center;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  /* justify-content: space-around; */
}

.calendar-wrapper {
  margin: 0 auto;
  /* margin-top: 20px; */
  width: 90%;
  border: 5px solid var(--dark-blue-color);
  border-radius: 10px;
  background: var(--dark-blue-color);
}

.todolist-wrapper {
  width: 90%;
  text-align: center;
  /* border: 5px solid red; */
  margin: 0 auto;
}

.date-none-modal {
  width: 100%;
  height: 50vh;
  background-color: #ffffff;
  border: #0043ca 6px solid;
  border-radius: 5px;
  background-size: 90%;
  /* background-position: center; */
  background-position: top;
  background-repeat: no-repeat;
  /* background-image: url("../../assets/website.svg"); */
  background-image: url("/src/assets/calendar-warning.svg");
}

.date-none-modal__text {
  position: relative;
  top: 87%;
  /* top: 72%; */
  color: var(--black-color);
  /* 임시 */
  font-size: 20px;
  font-weight: bold;
}

.action-buttons-wrapper {
  width: 90%;
  height: 15%;
  margin: 0 auto;
  border: 5px solid red;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-buttons-wrapper {
  width: 45%;
  justify-content: space-between;
}

/* <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> --> */
.yesterday-button {
  
}

.today-button {
  
}

.tomorrow-button {

}

.create-button {
  
}

/* iPhon 5/SE */
@media screen and (min-width: 320px) {

}
