.calendar-wrapper {
  padding-top: 3vh;
  padding-bottom: 2vh;
  /* background-color: #e8eaf6; */
}

/* 임시 */
/* Header 762px*/
.todolist-component > .header {
  box-sizing: border-box;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}

.todolist-component > .header i {
  font-size: 2rem;
}

/* Header-Navigation */
.todolist-component .nav {
  justify-content: space-evenly;
  align-items: center;
  background-color: #0043ca;
  box-sizing: border-box;
}

.todolist-component .today {
  font-size: 1rem;
}

/* Header-Buttons-Size */
.todolist-component .button--today, 
.button--yesterday, 
.button--tomorrow,
.button--menus,
.button--create,
.button--delete {
  width: 5vw;
}

/* Create-Delete-Button */
.todolist-component .buttons-wrapper {
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
  background-color: #004ecb;
  height: 5%;
}
