.calendar-page {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-content: center;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  /* justify-content: space-around; */
}

.calendar-wrapper {
  margin: 0 auto;
  width: 90%;
  border: 5px solid var(--dark-blue);
  border-radius: 10px;
  background: var(--dark-blue);
}

.todolist-wrapper {
  width: 90%;
  text-align: center;
  /* border: 5px solid red; */
  margin: 0 auto;
}

.date-none-modal {
  /* width: 100%; */
  height: 45vh;
  background-color: var(--white);
  border: var(--dark-blue) 6px solid;
  border-radius: 5px;
  background-size: 70%;
  background-position: center;
  /* background-position: top; */
  background-repeat: no-repeat;
  /* background-image: url("/src//assets/form-background-image/website.svg"); */
  background-image: url("/src/assets/form-background-image/calendar-warning.svg");
}

.date-none-modal__text {
  position: relative;
  top: 50%;
  color: var(--black);
  font-size: 20px;
  font-weight: bold;
}

.action-buttons-wrapper {
  width: 90%;
  height: 11%;
  margin: 0 auto;
  border: 5px solid red;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.today-button {
  font-weight: bold;
}

@media screen and (min-width: 300px) and (max-width: 350px) {
  .date-none-modal__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 600px) and (max-width: 770px){
  .date-none-modal {
    background-size: 60%;
  }

  .date-none-modal__text {
    font-size: 30px;
    font-weight: bold;
  }
}

