/* Edit-Form */
.editTodo-page {
  border: 5px solid teal;
  flex-direction: column;
  align-items: center;
}

/* Todolist-info */
.editTodo-page > .todo-info {
  border: 5px tomato solid;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
}

/* Todolist-info-title,content-position */
.editTodo-page label, input {
  display: block;
}

.editTodo-page .todo-title, .todo-content {
  flex-direction: column;
  justify-content: space-around;
}

/* Button-Position-Size.. */
.editTodo-page > .buttons-wrapper {
  border: 5px blue solid;
  width: 25%;
  height: 20vh;
  justify-content: space-evenly;
  align-items: center;
}

.buttons-wrapper .create-edit-button,
.home-button {
  width: 5vw;
}

.buttons-wrapper i {
  font-size: 2rem;
}